MYSQL_URI=link_app:replace-me@tcp(mysql:3306)/link_shortener?charset=utf8mb4&parseTime=true
REDIS_HOST=redis:6379
REDIS_PASSWORD=replace-me
WEBSITE_URL=links.wcalandro.com
SHORT_URL=wcal.xyz
SESSION_SECRET=replace-with-at-least-32-random-bytes
PORT=5000
